In [ ]:
a = input("Enter the first value: ")
b = input("Enter the second value: ")

a, b = b, a

print("After swapping:")
print("First value:", a)
print("Second value:", b)

After swapping:
First value: b
Second value: a

In [ ]:
num1 = input("Enter first number: ")
operator = input("Enter operator (+, -, *, /): ")
num2 = input("Enter second number: ")
expression = num1 + operator + num2
result = eval(expression)
# 10 + 25 = 35
print("Result:", result)

Result: 35

In [ ]:
num_str = input("Enter a number: ")
num_int = int(num_str)
num_float = float(num_str)
print("Integer value:", num_int, "| Type:", type(num_int))
print("Float value:", num_float, "| Type:", type(num_float))   # 20

Integer value: 20 | Type: <class 'int'>
Float value: 20.0 | Type: <class 'float'>

In [ ]:
a = float(input("Enter a: "))
b = float(input("Enter b: "))
c = float(input("Enter c: "))
d = b**2 - 4*a*c
root1 = (-b + complex(d)**0.5) / (2*a)
root2 = (-b - complex(d)**0.5) / (2*a)

print("Root 1:", root1)   # a = 1
print("Root 2:", root2)   # b = -3
                        # c = 2

Root 1: (2+0j)
Root 2: (1+0j)

In [ ]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))        # convert to integer
height = float(input("Enter your height (in cm): "))  # convert to float
print(f"Name: {name}, Age: {age} years, Height: {height} cm")

Name: chandra, Age: 23 years, Height: 155.0 cm

In [ ]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))
result = ((num1 + num2) * num3) / (num1 - num2)
print("Result:", round(result, 2))

Result: 6.0

In [ ]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
sum_result = num1 + num2
print("Sum:", sum_result)

Sum: 20.0

In [ ]:
text = input("Enter a string: ")
upper_text = text.upper()
print("Uppercase:", upper_text)

Uppercase: HELLO WORLD

In [ ]:
num = float(input("Enter a number: "))
square1 = num ** 2      
square2 = num * num     
print("Square (using **):", square1)
print("Square (using *):", square2)

Square (using **): 49.0
Square (using *): 49.0

In [ ]:
name = input("Enter your name: ")
print(f"Hello, {name}")

Hello, chandra

In [ ]:
str1 = input("Enter first string: ")
str2 = input("Enter second string: ")
result = str1 + str2
print("Concatenated string:", result)

Concatenated string: helloworld

In [ ]:
num = float(input("Enter a float number: "))
num_int = int(num)
print("Integer equivalent:", num_int)

Integer equivalent: 12

In [ ]:
age = int(input("Enter your age: "))
print(f"You are {age} years old")

You are 23 years old

In [ ]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
product = num1 * num2   # 6 , 7
print("Product:", product)

Product: 42.0

In [ ]:
sentence = input("Enter a sentence: ")
length = len(sentence)
print("Length of the sentence:", length)

Length of the sentence: 18

In [ ]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))
average = (num1 + num2 + num3) / 3

# Print result  #10 ,20, 30
print("Average:", average)

Average: 20.0

In [ ]:
num = float(input("Enter a number: "))
absolute_value = abs(num)  # -25.7
print("Absolute value:", absolute_value)

Absolute value: 25.7

In [ ]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
difference = num1 - num2   # 15 , 8
print("Difference:", difference)

Difference: 7.0

In [ ]:
text = input("Enter a string: ")
reversed_text = text[::-1]  #python
print("Reversed string:", reversed_text)

Reversed string: nohtyp

In [ ]:

height_cm = float(input("Enter height in centimeters: "))
height_m = height_cm / 100 #175
# Print result
print("Height in meters:", height_m)

Height in meters: 1.75

In [ ]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
quotient = num1 / num2
# 20 , 4
print("Quotient:", quotient)

Quotient: 5.0

In [ ]:
name = input("Enter your name: ")
print(f'"{name}"')  # chandra

"chandra"

In [ ]:
num = float(input("Enter a number: "))
rounded_num = round(num, 2)
# Print result
print("Rounded number:", rounded_num)  #12.34345

Rounded number: 12.34

In [ ]:
str1 = input("Enter first string: ")
str2 = input("Enter second string: ")
print(f"{str1} {str2}")

hello world

In [ ]:
user_input = input("Enter something: ")
print("Type of input:", type(user_input)) #123

Type of input: <class 'str'>

In [ ]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))
sum_result = num1 + num2 + num3
product_result = num1 * num2 * num3
# Print results 
print("Sum:", sum_result)  # 2 , 3, 4
print("Product:", product_result)

Sum: 9.0
Product: 24.0