In [54]:
x =10
x

10

In [55]:
# comparision operators
'< <= > >= == !='

'< <= > >= == !='

In [56]:
x = 12
y = 23

In [57]:
x, y = 13, 24
a, b, c =2, 4, 120

In [58]:
x > y # if x  is greater than y -> False

False

In [59]:
x ==13

True

In [60]:
y >= 23

True

In [61]:
x != y# if x is not equal to y -> True

True

In [62]:
x < 15 < y

True

In [63]:
x = 100 
1 < x < 100 # if x is  in the range of 2 - 99

False

In [64]:
x = 100
1 <= x <= 100

True

In [65]:
x > y  and x > a # and is used to evaluate  if both expressions are True

True

# Logical operators
 AND OR NOT

In [72]:
not a # convert true value to false and vice versa

False

In [ ]:
(a == 10) # invert the result

In [3]:
name = "mouli"
city = 'gowtham'

INPUT IN PYTHON

INPUT() FUNCTION IS USED FOR USER INPUT

In [7]:
name = input("enter name =>")
city = input("enter city =>")
addr = input("enter addrs =>")
print(name, city, addr)

gowtham tirupati gandhi nagar

In [8]:
a = 10
b = 20
c = a + b
print(a, b, c)

10 20 30

In [9]:
#dynamic
a = input("enter a:")
b = input("enter b:")
c = a + b
print( a, b, c)

10 20 1020

In [12]:
radius = float(input("enter radius of circle"))
diameter = radius * 2
circumference = 2 * 3.14 * radius
area = 3.14 * radius ** 2 

print(radius)
print(diameter)
print(circumference)
print(area)

18.0
36.0
113.04
1017.36

In [16]:
# simple intrest
p = 1000000
r = 15
t =11
si = p*r*t/100
print(p)
print(r)
print(t)
print(si)

1000000
15
11
1650000.0

In [19]:
# simple interest
p = int(input("enter principle amount"))
r = float(input("enter the rate of interest"))
t = int(input("enter the year"))
si = p*r*t/100

print(p)
print(r)
print(t)
print(si)

3000000
10.0
5
1500000.0

In [21]:
pi = 3.14
r = 5.9
h = 7.3
v = pi*r**2*h #volume of cylinder
print(v)

797.9148200000001

In [22]:
pi = 3.14
r = float(input("enter radius of cylinder:"))
h = float(input("height of cylinder:"))
v = pi*r**2*h #volume of cylinder
print(v)

874.5779200000001

In [23]:
print("this is an example")
print("one","two","three")
print("1","2","3",4 + 5)
print(10 * 3 + 5)
print("apple","banana","orange", sep="|||")
print("apple","banana","oranges")

this is an example
one two three
1 2 3 9
35
apple|||banana|||orange
apple banana oranges

In [2]:
# simple interest
p = int(input("enter principle amount"))
r = float(input("enter the rate of interest"))
t = int(input("enter the year"))
si = p*r*t/100

print(p)
print(r)
print(t)
print(si)

15
100000.0
10
150000.0

In [2]:
print(1,2,3,4,5,1/2)

1 2 3 4 5 0.5

In [3]:
print(1,2,3,4,5)
print(1,2,3,4, sep="")
print(1,2,3,4,5,6,sep=',')
print(1,2,3,4,5, sep='âž¡ï¸')
print(1,2,3,4,5,sep="\n")
print(1,2,3,4,5, sep="hello world")

1 2 3 4 5
1234
1,2,3,4,5,6
1âž¡ï¸2âž¡ï¸3âž¡ï¸4âž¡ï¸5
1
2
3
4
5
1hello world2hello world3hello world4hello world5

In [9]:
print(1,2,3,4,5)
print(1,2,3,4, sep="ðŸ˜Š")
print(1,2,3,4,5,6,sep=',')
print(1,2,3,4,5, sep='âž¡ï¸')
print(1,2,3,4,5,sep="\n")
print(1,2,3,4,5, sep="hello world")
print("a","b","c",'ðŸŽ¶')
print("this is not me")
print("this is a python class",'ðŸ')
print("this is not much intresting",'ðŸ¤£')
print("sai rammmmmmmmmmmm",'ðŸ¤£ðŸ¤£ðŸ¤£ðŸ¤£')

1 2 3 4 5
1ðŸ˜Š2ðŸ˜Š3ðŸ˜Š4
1,2,3,4,5,6
1âž¡ï¸2âž¡ï¸3âž¡ï¸4âž¡ï¸5
1
2
3
4
5
1hello world2hello world3hello world4hello world5
a b c ðŸŽ¶
this is not me
this is a python class ðŸ
this is not much intresting ðŸ¤£
sai rammmmmmmmmmmm ðŸ¤£ðŸ¤£ðŸ¤£ðŸ¤£

In [10]:
a = 100
b = 30 
c = a + b
print(c)
print("Answer "+str(c))
print("Answer %d"%c)     # not the best way
print("%d + %d => %d"%(a,b,c))  # also very complicated
print("Answer {}".format(c))  #old way (before python 3.6)
print("{} + {} = {}".format(a,b,c)) # old way

130
Answer 130
Answer 130
100 + 30 => 130
Answer 130
100 + 30 = 130

In [13]:
a = 100
b = 30 
c = a + b
print("Answer {}".format(c))  
print("{a} + {b} = {c}")

Answer 130
{a} + {b} = {c}

In [ ]:
a = 100
b = 30 
c = a + b
print(f"Answer {c}")  
print("f{a} + {b} = {c}")

Answer 130
f{a} + {b} = {c}

In [16]:
name = "Sam"
job  = "Spy"
company = "Echeleon"
print(f"my name is {name}, i work as a {job} in {company}")

my name is Sam, i work as a Spy in Echeleon

In [17]:
p = 20
b = 10
h = (p**2 + b**2)**.5
print("calculation of hyppotenuse")
print(f"perpendicular => {p}")
print(f'Base => {b}')
print("Based on pythagoras theorem:")
print(f"hypotenuse => {h}")

calculation of hyppotenuse
perpendicular => 20
Base => 10
Based on pythagoras theorem:
hypotenuse => 22.360679774997898