In [5]:
movies = ['puspha','kannapa','jinna','journey','little hearts','court','lucky bhaskar','thammudu','santhosam','kalisundam raa','nuvvu naku nachav','baby','7g brundhvan colony','remo','orange','rx 100','arjun reddy','mangalvaram']
movielen = []
for movie in movies:
    size = len(movie)
    movielen.append(size)
print(movies)
print(movielen)

['puspha', 'kannapa', 'jinna', 'journey', 'little hearts', 'court', 'lucky bhaskar', 'thammudu', 'santhosam', 'kalisundam raa', 'nuvvu naku nachav', 'baby', '7g brundhvan colony', 'remo', 'orange', 'rx 100', 'arjun reddy', 'mangalvaram']
[6, 7, 5, 7, 13, 5, 13, 8, 9, 14, 17, 4, 19, 4, 6, 6, 11, 11]

In [6]:
movielen = [len(movie) for movie in movies]
print(movies)
print(movielen)

['puspha', 'kannapa', 'jinna', 'journey', 'little hearts', 'court', 'lucky bhaskar', 'thammudu', 'santhosam', 'kalisundam raa', 'nuvvu naku nachav', 'baby', '7g brundhvan colony', 'remo', 'orange', 'rx 100', 'arjun reddy', 'mangalvaram']
[6, 7, 5, 7, 13, 5, 13, 8, 9, 14, 17, 4, 19, 4, 6, 6, 11, 11]

In [ ]:
# wap to create a list from movies but with all capital letters
movies_caps = []
for movie in movies:
    name = movie.upper()
    movies_caps.append(name)
print(movies)
print(movies_caps)

['puspha', 'kannapa', 'jinna', 'journey', 'little hearts', 'court', 'lucky bhaskar', 'thammudu', 'santhosam', 'kalisundam raa', 'nuvvu naku nachav', 'baby', '7g brundhvan colony', 'remo', 'orange', 'rx 100', 'arjun reddy', 'mangalvaram']
['PUSPHA', 'KANNAPA', 'JINNA', 'JOURNEY', 'LITTLE HEARTS', 'COURT', 'LUCKY BHASKAR', 'THAMMUDU', 'SANTHOSAM', 'KALISUNDAM RAA', 'NUVVU NAKU NACHAV', 'BABY', '7G BRUNDHVAN COLONY', 'REMO', 'ORANGE', 'RX 100', 'ARJUN REDDY', 'MANGALVARAM']

In [8]:
movies_caps = [movie.upper() for movie in movies]
print(movies)
print(movies_caps)

['puspha', 'kannapa', 'jinna', 'journey', 'little hearts', 'court', 'lucky bhaskar', 'thammudu', 'santhosam', 'kalisundam raa', 'nuvvu naku nachav', 'baby', '7g brundhvan colony', 'remo', 'orange', 'rx 100', 'arjun reddy', 'mangalvaram']
['PUSPHA', 'KANNAPA', 'JINNA', 'JOURNEY', 'LITTLE HEARTS', 'COURT', 'LUCKY BHASKAR', 'THAMMUDU', 'SANTHOSAM', 'KALISUNDAM RAA', 'NUVVU NAKU NACHAV', 'BABY', '7G BRUNDHVAN COLONY', 'REMO', 'ORANGE', 'RX 100', 'ARJUN REDDY', 'MANGALVARAM']

In [9]:
# filter the movies it contain the char 'o' and store in new list
movies_with_o = []
for item in movies:
    if 'o' in item or 'o' in item:
        movies_with_o.append(item)
print(movies)
print(movies_with_o)

['puspha', 'kannapa', 'jinna', 'journey', 'little hearts', 'court', 'lucky bhaskar', 'thammudu', 'santhosam', 'kalisundam raa', 'nuvvu naku nachav', 'baby', '7g brundhvan colony', 'remo', 'orange', 'rx 100', 'arjun reddy', 'mangalvaram']
['journey', 'court', 'santhosam', '7g brundhvan colony', 'remo', 'orange']

In [12]:
movies_with_e = [nm for nm in movies if 'e' in nm or 'e' in nm]
print(movies_with_e)

['journey', 'little hearts', 'remo', 'orange', 'arjun reddy']

In [ ]:
# TUPLES
my_tuple = (1,2,3)
print(my_tuple)

(1, 2, 3)

In [14]:
# tuple with mixed datatypes
my_tuple = (1, "Hello", 3.4)
print(my_tuple)

(1, 'Hello', 3.4)

In [15]:
# nested tuple
my_tuple = ("mouse", [8,4,6],(1,2,3))
print(my_tuple)

('mouse', [8, 4, 6], (1, 2, 3))

In [16]:
# a tuple can also be created without using parentheses.
# This is know as tuple packing
my_tuple = 3, 4.6, "Apple"
print(my_tuple)

(3, 4.6, 'Apple')

In [17]:
# Accesing tuple elements using indexing
my_tuple = ('p','e','r','m','i','t')
print(my_tuple[0])
print(my_tuple[5])

p
t

In [18]:
n_tuple = ("mouse",[8,4,6], [1,2,3])
print(n_tuple[0][3])
print(n_tuple[1][1])

s
4

In [19]:
# Slicing
x  = ('e','x','c','e','l','l','e','n','t')
print(x[2:6])

('c', 'e', 'l', 'l')

In [20]:
print(x[1:5])

('x', 'c', 'e', 'l')

In [22]:
print(x[3:8])

('e', 'l', 'l', 'e', 'n')

In [23]:
print(x[:])

('e', 'x', 'c', 'e', 'l', 'l', 'e', 'n', 't')

In [25]:
print((1,2,3) + (4,5,6))

(1, 2, 3, 4, 5, 6)

In [26]:
print(("repeat",) * 3)

('repeat', 'repeat', 'repeat')

In [28]:
a = ('m','a','n','g','o')
print(a.count('m'))
print(a.index('n'))

1
2