In [1]:
x = []  # creating  a empty list
x = list() # empty list
y = [1,2,3] # direct initilazation
z = []
z.append("apple") # Adding single value
z.append("cherry")
z.append("avacado")

In [2]:
# list of duplicate
a = [1]*10 # cloning
print(a)

b = [1,2]*5
c = a * 2
print(b)
print(c)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[1, 2, 1, 2, 1, 2, 1, 2, 1, 2]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [3]:
# displaying
print(a) # raw output
# displaying single item at a time using loop
for item in a:
    print(item)
# single element using index
print(a[0])
print(a[3],a[5])

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
1
1
1
1
1
1
1
1
1
1
1
1 1

In [4]:
x = [1,2,3]
y = [4,5,6]
z = x+y # concatenate list
print(x,y,z)

[1, 2, 3] [4, 5, 6] [1, 2, 3, 4, 5, 6]

In [6]:
students = ['bhargav','ram','ajay','balaji','abhi','ruhi','varsha','sumitra','lahari','jyotshna','meghana','anjali','sirisha','sahati','geetha','sameer','srikanth','yaswanth','yaswanth','roop']
print(len(students))

20

In [ ]:
students = ['bhargav','ram','ajay','balaji','abhi','ruhi','varsha','sumitra','lahari','jyotshna','meghana','anjali','sirisha','sahati','geetha','sameer','srikanth','yaswanth','yaswanth','roop']

In [1]:
books = []
# addinng one item at a time
books.append("THe way of king")
print(books)
books.append("THe final empire")
books.append("Steelheart")
books.append("legion")
print(books)

['THe way of king']
['THe way of king', 'THe final empire', 'Steelheart', 'legion']

In [ ]:
books.append("harrypotter","jungle book") # this code is not working(the append function takes only one fuction."harrypotter")

['THe way of king', 'THe final empire', 'Steelheart', 'legion', ['harrypotter', 'jungle book'], ['harrypotter', 'jungle book']]

In [7]:
colors=['red','green','blue']
colors.extend(['yellow','black'])
print(colors)
colors2=["purple","pink","yellow"]
colors.extend(colors2)
print(colors)

['red', 'green', 'blue', 'yellow', 'black']
['red', 'green', 'blue', 'yellow', 'black', 'purple', 'pink', 'yellow']

In [1]:
# write a program to add 10 numbers in a list
a = []
for i in range(1,11):
    a.append(i)
    print(a)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
movies = []
for i in range(5):
    value = input("enter your five movies")
    movies.append(value)
    print(movies)

['alice in border land']
['alice in border land', 'beaking bad']
['alice in border land', 'beaking bad', 'wednesday']
['alice in border land', 'beaking bad', 'wednesday', 'stranger things']
['alice in border land', 'beaking bad', 'wednesday', 'stranger things', 'money hiest']

In [7]:
x = [1,5,10]
x.insert(1,2)
print(x)

[1, 2, 5, 10]

In [8]:
x = [1,2,3,5,10]
x.insert(2,3)
print(x)

[1, 2, 3, 3, 5, 10]

In [9]:
x = [1,2,3,5,10]
x.insert(4,9)
print(x)

[1, 2, 3, 5, 9, 10]

In [ ]:
books = ['art of laziness','how to talk to anyone','rich dad poor dad','harry potter','king of throns','the final empire','the way of kinds','new moon','wind and truth','new moon']
print("size of book list",len(books))  # len function checks the size of iterable

size of book list 10

In [6]:
books.remove('new moon')
print(books)

['art of laziness', 'how to talk to anyone', 'rich dad poor dad', 'harry potter', 'king of throns', 'the final empire', 'the way of kinds', 'wind and truth']

In [7]:
# validation based removal
if 'harry potter' in books:
    books.remove('harry potter')
    print(books)

['art of laziness', 'how to talk to anyone', 'rich dad poor dad', 'king of throns', 'the final empire', 'the way of kinds', 'wind and truth']

In [8]:
print(books)

['art of laziness', 'how to talk to anyone', 'rich dad poor dad', 'king of throns', 'the final empire', 'the way of kinds', 'wind and truth']

In [9]:
books.pop(3)

'king of throns'

In [10]:
# pop () without any index will remove the last element
books.pop()

'wind and truth'

In [11]:
books.clear()
print(books)

[]

In [12]:
languages = ['c','python','kotlin','java','Dart','Go','c++','c#','Html','Javascript','Scala','Rust','mojo','Assembly']

numbers = [12,56,23,67,13,23,12,56,23,56,12,34,23,23,12,34,34,23,53,92]

data = [1, 'Apple',2,'Avocado',3,'Apricot']
print(languages)
print(numbers)
print(data)
print(len(languages))
print(len(numbers))
print(len(data))

['c', 'python', 'kotlin', 'java', 'Dart', 'Go', 'c++', 'c#', 'Html', 'Javascript', 'Scala', 'Rust', 'mojo', 'Assembly']
[12, 56, 23, 67, 13, 23, 12, 56, 23, 56, 12, 34, 23, 23, 12, 34, 34, 23, 53, 92]
[1, 'Apple', 2, 'Avocado', 3, 'Apricot']
14
20
6

In [ ]:
numbers.count(12)  # counts how many time 12 ouucrs in list

4

In [14]:
print(numbers.count(1))
print(numbers.count(23))
print(numbers.count(56))

0
6
3

In [15]:
languages.index('c#')   # 7th index in my list

7

In [18]:
print(languages.index('c'))
print(languages.index('java'))
print(languages.index('python'))

0
3
1

In [ ]:
print(languages.index('c'))
print(languages.index('java'))
print(languages.index('python'))
# print(languages.index("lisp")) #will give error

In [21]:
print("Original", languages)
languages.sort()  #sort inplace
print("Sorted", languages)
languages.sort(reverse=True)  # sort in reverse
print("sorted in reverse", languages)

Original ['python', 'mojo', 'kotlin', 'java', 'c++', 'c#', 'c', 'Scala', 'Rust', 'Javascript', 'Html', 'Go', 'Dart', 'Assembly']
Sorted ['Assembly', 'Dart', 'Go', 'Html', 'Javascript', 'Rust', 'Scala', 'c', 'c#', 'c++', 'java', 'kotlin', 'mojo', 'python']
sorted in reverse ['python', 'mojo', 'kotlin', 'java', 'c++', 'c#', 'c', 'Scala', 'Rust', 'Javascript', 'Html', 'Go', 'Dart', 'Assembly']

In [22]:
print("Original", data)
data.reverse() # reverse the list
print("reversed", data)

Original [1, 'Apple', 2, 'Avocado', 3, 'Apricot']
reversed ['Apricot', 3, 'Avocado', 2, 'Apple', 1]

In [23]:
x = [1,2,3,4]
y = x # deep copy

z = x.copy()  # shallow copy
print(x,y,z, sep='\n')
x.append(10)
y.pop()
z.append(10)
z.append(20)
print(x,y,z, sep='\n')

[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4, 10, 20]

# Nested List
list within a list

In [5]:
x = []     # empty list -> 1 Dimension
x2 = [[]]   # empty list -> 2 Dimension

print(x)
print(x2)

[]
[[]]

In [6]:
x.append(1)
x.append(2)
x.append(3)
print(x)

[1, 2, 3]

In [7]:
x2.append(1)
x2.append([1,2,3])
x2.append([4,5,6])
print(x2)

[[], 1, [1, 2, 3], [4, 5, 6]]

In [8]:
items = [
    ['red','green','blue'],
    ['apple','guava','blueberry'],
    [150,100,300]
]
print(items)
print("size of the list", len(items))
print("size of list at index 0 is",len(items[0]),"=>",items[0])
print("size of list at index 1 is",len(items[1]),"=>",items[1])
print("size of list at index 2 is",len(items[2]),"=>",items[2])
print("Element 0 as list 0 is",items[0][0])
print("Element 2 as list 0 is",items[0][2])
print("Element 0 as list 1 is",items[1][0])
print("Element 1 as list 1 is",items[1][1])

[['red', 'green', 'blue'], ['apple', 'guava', 'blueberry'], [150, 100, 300]]
size of the list 3
size of list at index 0 is 3 => ['red', 'green', 'blue']
size of list at index 1 is 3 => ['apple', 'guava', 'blueberry']
size of list at index 2 is 3 => [150, 100, 300]
Element 0 as list 0 is red
Element 2 as list 0 is blue
Element 0 as list 1 is apple
Element 1 as list 1 is guava

In [10]:
matrix = [
    [12,23,45,25],
    [83,95,25,15],
    [30,32,35,5]
]
print(matrix)

[[12, 23, 45, 25], [83, 95, 25, 15], [30, 32, 35, 5]]

In [11]:
matrix = [
    [12,23,45,25],
    [83,95,25,15],
    [30,32,35,5]
]
print(matrix)
print("size of the list", len(matrix))
print("size of list at index 0 is",len(matrix[0]),"=>",matrix[0])
print("size of list at index 1 is",len(matrix[1]),"=>",matrix[1])
print("size of list at index 2 is",len(matrix[2]),"=>",matrix[2])
print("Element 0 as list 0 is",matrix[0][0])
print("Element 2 as list 0 is",matrix[0][2])
print("Element 0 as list 1 is",matrix[1][0])
print("Element 1 as list 1 is",matrix[1][1])

[[12, 23, 45, 25], [83, 95, 25, 15], [30, 32, 35, 5]]
size of the list 3
size of list at index 0 is 4 => [12, 23, 45, 25]
size of list at index 1 is 4 => [83, 95, 25, 15]
size of list at index 2 is 4 => [30, 32, 35, 5]
Element 0 as list 0 is 12
Element 2 as list 0 is 45
Element 0 as list 1 is 83
Element 1 as list 1 is 95

In [13]:
matrix = [
    [10,20,30,40],
    [100,200,300,400],
    [1000,2000,3000,4000]
]
print(matrix)

[[10, 20, 30, 40], [100, 200, 300, 400], [1000, 2000, 3000, 4000]]

In [ ]:
print(matrix[0])
print(matrix[1])   # not good
print(matrix[2])

[10, 20, 30, 40]
[100, 200, 300, 400]
[1000, 2000, 3000, 4000]

In [ ]:
for row in matrix:  # good
    print(row)

[10, 20, 30, 40]
[100, 200, 300, 400]
[1000, 2000, 3000, 4000]

In [18]:
# nested loop for nested list
for row in matrix:
    for val in row:
        print(val,end=' ')

10 20 30 40 100 200 300 400 1000 2000 3000 4000

In [20]:
# nested loop for nested list
for row in matrix:
    for val in row:
        print(val, end=' ')
    print()  # change line after each row

10 20 30 40
100 200 300 400
1000 2000 3000 4000

In [21]:
# wap to print the sum of all the value in matrix
total = 0
for row in matrix:
    for val in row:
        total += val
print(total)

11100

In [23]:
# wap to print the product of all the value in matrix
total = 1
for row in matrix:
    for val in row:
        total *= val
print(total)

13824000000000000000000000000

In [26]:
### wap to print row wise sum of matrix

for row in matrix:
    total = 0
    for value in row:
        total += value
    print(row, '=>', total)

[10, 20, 30, 40] => 100
[100, 200, 300, 400] => 1000
[1000, 2000, 3000, 4000] => 10000

In [32]:
# wap to print row wise average of the values

for row in matrix:
    total = 0
    for value in row:
        total += value
    avg = round(total/len(row),1)
    print(row, '=>', avg)

[10, 20, 30, 40] => 25.0
[100, 200, 300, 400] => 250.0
[1000, 2000, 3000, 4000] => 2500.0

In [33]:
# wap to print column wise sum of the values
size = len(matrix[0])
for c in range(size):
    total = 0
    for r in range(len(matrix)):
        total += matrix[r][c]
    print(f"column {c} => {total}")

column 0 => 1110
column 1 => 2220
column 2 => 3330
column 3 => 4440

In [37]:
size = len(matrix[0])
for c in range(size):
    total = 0
    for r in range(len(matrix)):
        total += value
    print(f"column {c} => {total/4}")

column 0 => 3000.0
column 1 => 3000.0
column 2 => 3000.0
column 3 => 3000.0

In [ ]:
mat2 = [
    [1,2,3,4],
    [5,6,7,8,],
    [9,10,11,12],
    [13,14,15,16]
]
for r in range(len(mat2)):
    for c in range(len(mat2[0])):
        if (c <= r):
            print(mat2[r][c], end=" ")
    print()

1
5 6
9 10 11
13 14 15 16