In [3]:
for _ in range(5):
    print(1)

1
1
1
1
1

In [4]:
for i in range(20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [5]:
for _ in range(5):
    print("This is a statement")

This is a statement
This is a statement
This is a statement
This is a statement
This is a statement

In [8]:
for i in range(5):
    print(i)

0
1
2
3
4

In [9]:
for i in range(15):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [11]:
for x in range(1, 16):
    print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [12]:
a = 5
b = 10
for i in range(a, b):
    print(i)

5
6
7
8
9

In [14]:
x = int(input("enter start"))
y = int(input("enter stop"))
for i in range(x, y):
    print(x, y, i)

10 25 10
10 25 11
10 25 12
10 25 13
10 25 14
10 25 15
10 25 16
10 25 17
10 25 18
10 25 19
10 25 20
10 25 21
10 25 22
10 25 23
10 25 24

In [15]:
size = 10
for i in range(1, size + 1):
    print(f"12 * {i} = {12 * i}")

12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120

In [1]:
for i in range(1 ,20, 2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [2]:
for i in range(0,15,5):
    print(i)

0
5
10

In [3]:
for i in range(10,0,-2):
    print(i)

10
8
6
4
2

In [6]:
for num in range(100,201,2):
    print(num)

100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150
152
154
156
158
160
162
164
166
168
170
172
174
176
178
180
182
184
186
188
190
192
194
196
198
200