In [3]:
for _ in range(5):
    print(1)

1
1
1
1
1

In [4]:
for i in range(20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [5]:
for _ in range(5):
    print("This is a statement")

This is a statement
This is a statement
This is a statement
This is a statement
This is a statement

In [8]:
for i in range(5):
    print(i)

0
1
2
3
4

In [9]:
for i in range(15):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [11]:
for x in range(1, 16):
    print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [12]:
a = 5
b = 10
for i in range(a, b):
    print(i)

5
6
7
8
9

In [14]:
x = int(input("enter start"))
y = int(input("enter stop"))
for i in range(x, y):
    print(x, y, i)

10 25 10
10 25 11
10 25 12
10 25 13
10 25 14
10 25 15
10 25 16
10 25 17
10 25 18
10 25 19
10 25 20
10 25 21
10 25 22
10 25 23
10 25 24

In [15]:
size = 10
for i in range(1, size + 1):
    print(f"12 * {i} = {12 * i}")

12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120

In [1]:
for i in range(1 ,20, 2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [2]:
for i in range(0,15,5):
    print(i)

0
5
10

In [3]:
for i in range(10,0,-2):
    print(i)

10
8
6
4
2

In [11]:
for num in range(100,201,2):
    print(num,end=" ,")

100 ,102 ,104 ,106 ,108 ,110 ,112 ,114 ,116 ,118 ,120 ,122 ,124 ,126 ,128 ,130 ,132 ,134 ,136 ,138 ,140 ,142 ,144 ,146 ,148 ,150 ,152 ,154 ,156 ,158 ,160 ,162 ,164 ,166 ,168 ,170 ,172 ,174 ,176 ,178 ,180 ,182 ,184 ,186 ,188 ,190 ,192 ,194 ,196 ,198 ,200 ,

In [12]:
colors =('red','blue','green')
print(colors)

('red', 'blue', 'green')

In [ ]:
for color in colors:
    print(color)                                 #formatted output

red
blue
green

In [14]:
movies = ('vip','sin','animal','kabirsingh')
print(movies)

('vip', 'sin', 'animal', 'kabirsingh')

In [15]:
for movie in movies:
    print(movie)

vip
sin
animal
kabirsingh

In [16]:
movies = ('arya','i','red','puspha','dhee','mr.perfect','darling','lucky','bahubali')
print(movies)

('arya', 'i', 'red', 'puspha', 'dhee', 'mr.perfect', 'darling', 'lucky', 'bahubali')

In [18]:
for movie in movies:
    print(movie)

arya
i
red
puspha
dhee
mr.perfect
darling
lucky
bahubali

In [20]:
for num in range(1,100,2):
    print(num, end=" ,")

1 ,3 ,5 ,7 ,9 ,11 ,13 ,15 ,17 ,19 ,21 ,23 ,25 ,27 ,29 ,31 ,33 ,35 ,37 ,39 ,41 ,43 ,45 ,47 ,49 ,51 ,53 ,55 ,57 ,59 ,61 ,63 ,65 ,67 ,69 ,71 ,73 ,75 ,77 ,79 ,81 ,83 ,85 ,87 ,89 ,91 ,93 ,95 ,97 ,99 ,

In [1]:
for i in range(-10,10,3):
    print(i,end=" ,")

-10 ,-7 ,-4 ,-1 ,2 ,5 ,8 ,

In [2]:
for i in range(1,11):
    if i % 2 == 0:
        print(i)

2
4
6
8
10

In [3]:
for i in range(1,11):
    if i % 3 == 0:
        print(i)

3
6
9

In [10]:
for i in range(1,11):
    if i % 2 != 0:
        print(i)

1
3
5
7
9

In [16]:
nums=[1,5,11,3,12,15]
for i in nums:
    if i%2==0:    #display squares of even nums
        s=i**2
        print(s)
    else:
        print('odd number')

odd number
odd number
odd number
odd number
144
odd number

In [18]:
nums=[1,3,5,7]
for i in nums:
    if i%2!=0:
        s=i**3
        print(s)
    else:
        print('even number')

1
27
125
343

In [25]:
nums=[1,5,11,3,12,15]
for i in nums:
    if i%3!=0:   
        s=i**3   # displays cubes
        print(s)
    else:
        print('even number')

1
125
1331
even number
even number
even number

In [26]:
# calculate the area of circles
# whose radius is given in list

radius=[3,5,6,11,10]
for r in radius:
    area = 3.14*r**2
    print(f"the area for {r} is {area}")

the area for 3 is 28.26
the area for 5 is 78.5
the area for 6 is 113.04
the area for 11 is 379.94
the area for 10 is 314.0

In [28]:
videogames=['freefire','pubg','mario','pokemon','formula','duckhunt','subwaysurf','talkingtom','callofduty','blackmyth']
for i in videogames:
    print(i)

freefire
pubg
mario
pokemon
formula
duckhunt
subwaysurf
talkingtom
callofduty
blackmyth

In [31]:
videogames=['freefire','pubg','mario','pokemon','formula','duckhunt','subwaysurf','talkingtom','callofduty','blackmyth']
for name in videogames:
    if name.startswith('f'):
      print(name)

freefire
formula

In [32]:
videogames=['freefire','pubg','mario','pokemon','formula','duckhunt','subwaysurf','talkingtom','callofduty','blackmyth']
for name in videogames:
    if name.startswith('t'):
      print(name)

talkingtom

In [33]:
books=['the final empire','warbreaker','elantris','the well of ascension','the alloy of law','hero of ages','the way of kings']
for book in books:
    if "the" in book or "of" in book:
        print(f'book->{book}')

book->the final empire
book->the well of ascension
book->the alloy of law
book->hero of ages
book->the way of kings

In [1]:
total = 0
for num in range(10,21):
    total = total + num
print(total)

165

In [6]:
total = 1
for num in range(10,21):
    total = total * num
print(total)

6704425728000

In [7]:
nums = [5,11,2,53,10,33]
m = 0
for num in nums:
    if num > m:
        m = num
print(m)

53

In [8]:
nums = [1,2,3,4,5,6]
m = 0
for num in nums:
    if num > m:
        m = num
print(m)

6

In [9]:
nums = [25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50]
count = 0
for i in nums:
    if i%3==0:
        count = count + 1
print(f"total count={count}")

total count=8

In [10]:
count = 0
for i in nums:
    if i%2==0:
        count= count + 1
print(f"total count={count}")

total count=13

In [ ]:
movies = ["Harry potter 1","Harry potter 2","Harry potter 3","Harry potter 4","Harry potter 5","Harry potter 6","Harry potter 7","Harry potter 8","Harry potter 8"]
movies_with_h = 0
for movie in movies:
    if movie.startswith("H") or movie.startswith("h"):
        movies_with_h += 1
print("count",movies_with_h)

count 9

In [ ]:
# factorial
num = 10
fact = 1
# you can use a backward or forward loop
for i in range(num,0,-1):
    print(f'{i} * {fact}')
    fact = fact * i
    print(fact)

10 * 1
10
9 * 10
90
8 * 90
720
7 * 720
5040
6 * 5040
30240
5 * 30240
151200
4 * 151200
604800
3 * 604800
1814400
2 * 1814400
3628800
1 * 3628800
3628800

In [5]:
# factorial
num = 10
fact = 1
# you can use a backward or forward loop
for i in range(num,0,-1):
    print(f'{i} * {fact}')
    fact = fact * i
print(fact)

10 * 1
9 * 10
8 * 90
7 * 720
6 * 5040
5 * 30240
4 * 151200
3 * 604800
2 * 1814400
1 * 3628800
3628800

In [7]:
# factorial
num = 10
fact = 1
# you can use a backward or forward loop
for i in range(num,0,-1):
    print(f'(i) * {fact}')
    fact = fact * i
    print(fact)

(i) * 1
10
(i) * 10
90
(i) * 90
720
(i) * 720
5040
(i) * 5040
30240
(i) * 30240
151200
(i) * 151200
604800
(i) * 604800
1814400
(i) * 1814400
3628800
(i) * 3628800
3628800

In [ ]:
# loops total 10*5 => 50 times
for i in range(1, 11):  # loops 10 times
    for j in range(1, 6):  # loops 5 times
        print(f"i = {i}, j = {j}")

i = 1, j = 1
i = 1, j = 2
i = 1, j = 3
i = 1, j = 4
i = 1, j = 5
i = 2, j = 1
i = 2, j = 2
i = 2, j = 3
i = 2, j = 4
i = 2, j = 5
i = 3, j = 1
i = 3, j = 2
i = 3, j = 3
i = 3, j = 4
i = 3, j = 5
i = 4, j = 1
i = 4, j = 2
i = 4, j = 3
i = 4, j = 4
i = 4, j = 5
i = 5, j = 1
i = 5, j = 2
i = 5, j = 3
i = 5, j = 4
i = 5, j = 5
i = 6, j = 1
i = 6, j = 2
i = 6, j = 3
i = 6, j = 4
i = 6, j = 5
i = 7, j = 1
i = 7, j = 2
i = 7, j = 3
i = 7, j = 4
i = 7, j = 5
i = 8, j = 1
i = 8, j = 2
i = 8, j = 3
i = 8, j = 4
i = 8, j = 5
i = 9, j = 1
i = 9, j = 2
i = 9, j = 3
i = 9, j = 4
i = 9, j = 5
i = 10, j = 1
i = 10, j = 2
i = 10, j = 3
i = 10, j = 4
i = 10, j = 5

In [2]:
n = 6
for i in range(1, n):
    for j in range(1, n):
        print(j, end=' ')  # dont change line till inner loop 
    print()   # change line for the outer loop

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [3]:
n = 6
for i in range(1, n):
    for j in range(1, n):
        print(i, end=' ')  # dont change line till inner loop 
    print()   # change line for the outer loop

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [4]:
n = 10
for i in range(1, n):
    for j in range(1, n):
        print(j, end=' ')  # dont change line till inner loop 
    print()   # change line for the outer loop

1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9

In [5]:
n = 15
for i in range(1, n):
    for j in range(1, n):
        print(i, end=' ')  # dont change line till inner loop 
    print()   # change line for the outer loop

1 1 1 1 1 1 1 1 1 1 1 1 1 1
2 2 2 2 2 2 2 2 2 2 2 2 2 2
3 3 3 3 3 3 3 3 3 3 3 3 3 3
4 4 4 4 4 4 4 4 4 4 4 4 4 4
5 5 5 5 5 5 5 5 5 5 5 5 5 5
6 6 6 6 6 6 6 6 6 6 6 6 6 6
7 7 7 7 7 7 7 7 7 7 7 7 7 7
8 8 8 8 8 8 8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9 9 9 9 9 9
10 10 10 10 10 10 10 10 10 10 10 10 10 10
11 11 11 11 11 11 11 11 11 11 11 11 11 11
12 12 12 12 12 12 12 12 12 12 12 12 12 12
13 13 13 13 13 13 13 13 13 13 13 13 13 13
14 14 14 14 14 14 14 14 14 14 14 14 14 14