In [ ]:
name = input("Enter your name: ")
print("Hello,", name)
city = input("Enter your city: ")
print("You are from", city)
age = int(input("Enter your age: "))
print("You are", age, "years old.")
rate = float(input("Enter your rate: "))
print("Your rate is", rate)

In [ ]:
print("Welcome to Python!")
print("Sum:", 5 + 3)
print("Hello", "World", "!")
name = "Chandra"
print("Name:", name)
name, age, city = "Chandra", 23, "parvathipuram"
print("Name:", name, "Age:", age, "City:", city)

In [ ]:
print("A", "B", sep="-")  # Output: A-B
print("Hello", end="!")   # Output: Hello!

In [ ]:
name = "Chandra"
age = 23
print(f"{name} is {age} years old.")

In [ ]:
print("{} scored {} marks.".format("Chandra", 75))
print("{1} is {0} years old.".format(23, "Mouli"))

In [ ]:
x = 10
print(type(x))

In [ ]:
y = 3.5
print(type(y))  # <class 'float'>

In [ ]:
y = 3.5
print((y))  # example

In [ ]:
z = 1 + 2j
print(type(z))  # <class 'complex'>

In [ ]:
z = 1 + 2j
print((z))  # example

In [ ]:
n = None
print(type(n))  # <class 'NoneType'>

In [ ]:
n = None
print((n))  # example

In [ ]:
s = "Python"
print(type(s))  # <class 'str'>

In [ ]:
s = "Python"
print((s))  # exmple

In [ ]:
flag = True
print(type(flag))  # <class 'bool'>

In [ ]:
flag = True
print((flag))  # example

In [ ]:
fruits = ["apple", "banana", "cherry"]
print(type(fruits))  # <class 'list'>

In [ ]:
fruits = ["apple", "banana", "cherry"]
print((fruits))  # example

In [ ]:
point = (3, 5)
print(type(point))  # <class 'tuple'>

In [ ]:
point = (3, 5)
print((point))  # example

In [ ]:
fruits = {"apple", "banana", "cherry"}
print(type(fruits))  # <class 'set'>

In [ ]:
fruits = {"apple", "banana", "cherry"}
print((fruits))  # example

In [ ]:
student = {"name": "Alice", "age": 22}
print(type(student))  # <class 'dict'>

In [ ]:
student = {"name": "Alice", "age": 22}
print((student))  # example

In [ ]:
b = b"Hello"
print(type(b))  # <class 'bytes'>

In [ ]:
b = b"Hello"
print((b))  # example

In [ ]:
fs = frozenset([1, 2, 3])
print(type(fs))  # <class 'frozenset'>

In [ ]:
fs = frozenset([1, 2, 3])
print((fs))  # example

In [ ]:
from collections import OrderedDict
od = OrderedDict()
od["apple"] = 1
od["banana"] = 2
print(type(od))  # <class 'collections.OrderedDict'>

In [ ]:
from collections import OrderedDict
od = OrderedDict()
od["apple"] = 1
od["banana"] = 2
print((od))  # example

In [ ]:
from collections import defaultdict
dd = defaultdict(int)
dd["apple"] += 1
print(dd)  # defaultdict(<class 'int'>, {'apple': 1})

In [ ]:
from collections import Counter
c = Counter(["apple", "banana", "apple"])
print(c)  # Counter({'apple': 2, 'banana': 1})

In [ ]:
from collections import deque
d = deque()
d.append(1)
d.appendleft(2)
print(d)  # deque([2, 1])

In [ ]:
from collections import UserDict
class MyDict(UserDict):
    def __setitem__(self, key, value):
        super().__setitem__(key, value)
d = MyDict()
d["apple"] = 1
print(d)  # MyDict({'apple': 1})

In [ ]:
from collections import UserList
class MyList(UserList):
    def append(self, item):
        super().append(item)
l = MyList()
l.append(1)
print(l)  # MyList([1])

In [ ]:
x = 10      # x is int
x = "ten"   # now x is str
print(type(x))  # <class 'str'>

In [ ]:
x = 10      # x is int
x = "ten"   # now x is str
print((x))  # example

In [ ]:
a = 5       # int
b = 2.0     # float
c = a + b   # int + float -> float
print(c)    # 7.0
print(type(c))  # <class 'float'>

In [ ]:
a = "5"
b = "2"
c = int(a) + int(b)  # convert strings to int
print(c)  # 7

In [ ]:
x = 3.7
y = int(x)  # y is 3 (decimal part is truncated)
print(y)

In [ ]:
x = 3.7
y = int(x)  # y is 3 (decimal part is truncated)
print(type(y))  # example

In [ ]:
a = 5
b = 2
print(a + b)  # TypeError: can only concatenate str (not "int") to str

In [ ]:
print(int(a) + b)  # 7
print(a + int(b))  # "52"

In [ ]:
s = "hello"
n = int(10)  # ValueError: invalid literal for int() with base 10: 'hello'

In [ ]:
s = "abc"
try:
        n = int(s)
except ValueError:
        print("Cannot convert to int!")

In [ ]:
a = 10
b = 3
print(a + b)  # 13
print(a / b)  # 3.333...
print(a // b) # 3
print(a ** b) # 1000

In [ ]:
print(5 > 2)   # True
print(5 == 2)  # False

In [ ]:
x = 5
print(x > 2 and x < 10)  # True
print(not(x == 5))       # False

In [ ]:
a = 5  # 0101
b = 3  # 0011
print(a & b)  # 1
print(a | b)  # 7
print(a ^ b)  # 6
print(~a)     # -6
print(a << 1) # 10
print(a >> 1) # 2

In [ ]:
x = 10
x += 5  # x = x + 5
print(x)  # 15

In [ ]:
x = 10
x -= 5  # x = x - 5
print(x)  # 5

In [ ]:
x = 10
x *= 5  # x = x * 5
print(x)  # 50

In [ ]:
x = 10
x /= 5  # x = x / 5
print(x)  # 2

In [ ]:
x = 10
x //= 5  # x = x // 5
print(x)  # 2

In [ ]:
x = 10
x %= 5  # x = x % 5
print(x)  # 0

In [ ]:
x = 10
x **= 5  # x = x ** 5
print(x)  # 100000

In [ ]:
x = 10
x &= 5  # x = x & 5
print(x)  # 0

In [ ]:
x = 10
x |= 5  # x = x | 5
print(x)  # 15

In [ ]:
x = 10
x ^= 5  # x = x ^ 5
print(x)  # 15

In [ ]:
x = 10
x >>= 5  # x = x >> 5
print(x)  # 0

In [ ]:
x = 10
x <<= 5  # x = x << 5
print(x)  # 320

In [ ]:
nums = [1, 2, 3]
print(2 in nums)      # True
print(4 not in nums)  # True

In [ ]:
a = [1, 2]
b = a
c = [1, 2]
print(a is b)      # True
print(a is c)      # False
print(a == c)      # True