In [1]:
a = 'apple'
b = "banana"
c = "'This is chocolate cake'"
print(a)
print(b)
print(c)

apple
banana
'This is chocolate cake'

In [2]:
x = str(10)
y = str(["apple","banana"])
print(x,type(x))
print(y,type(y))

10 <class 'str'>
['apple', 'banana'] <class 'str'>

In [3]:
print(a[0])

a

In [5]:
x = 'disappointed'
print(x)

disappointed

In [7]:
y = x[5:10]
print(y)

point

In [8]:
y = x[5:10]
print(f"the{y}is,| am not {x}")

thepointis,| am not disappointed

In [ ]:
poem = '''johnny johnny yes papa
            eating sugar no papa
            telling lies no papa
            open your mouth ha ha ha'''
print(poem)

jhonny jhonny yes papa
            eating sugar no papa
            telling lies no papa
            open your mouth haa haa haa

In [13]:
y = poem[0:23]
print(y)

jhonny jhonny yes papa

In [1]:
s = "maintain silence in Library"
supper = s.upper()
print(s)
print(supper)

maintain silence in Library
MAINTAIN SILENCE IN LIBRARY

In [ ]:
s = "maintain the distance"
lower = s.lower()
print(s)
print(lower)

maintain the distance
maintain the distance

In [ ]:
s = "please silence in class"
capitalize = s.capitalize()
print(s)
print(capitalize)

please silence in class
Please silence in class

In [4]:
s = "please silence in class"
title = s.title()
print(s)
print(title)

please silence in class
Please Silence In Class

In [5]:
s = "please silence in class"
swapcase = s.swapcase()
print(s)
print(swapcase)

please silence in class
PLEASE SILENCE IN CLASS

In [6]:
s = "please silence in class"
casefold = s.casefold()
print(s)
print(casefold)

please silence in class
please silence in class

In [7]:
a = "seven"
size = len(a)
print(size)

5

In [8]:
a = "seven"
a1 = a.ljust(10)
print(a)
print(a1)

seven
seven

In [9]:
a = "seven"
a1 = a.ljust(10)
print(a)
print(a1)
a2 = a.ljust(10,'-')
print(a2)

seven
seven
seven-----

In [10]:
a = "seven"
a1 = a.ljust(10)
print(a)
print(a1)
a2 = a.ljust(10,'-')
print(a2)
a3 = a.rjust(20)
a4 = a.rjust(20,"1")
a5 = a.center(13)
a6 = a.center(13,'*')
print(a3,a4,a5,a6,sep='\n')

seven
seven
seven-----
               seven
111111111111111seven
    seven
****seven****

In [11]:
a3 = a.rjust(20)
print(a3)

               seven

In [15]:
a4 = a.rjust(20,"|")
print(a4)

|||||||||||||||seven

In [13]:
a5 = a.center(13)
print(a5)

    seven

In [14]:
a6 = a.center(13,'*')
print(a6)

****seven****

In [16]:
s = "maintain the seven in the int"
x = input()
print(x.isalpha())
print(x.isalnum())
print(x.isdigit())
print(x.isspace())

False
True
True
False

In [18]:
a = input()
a1 = a.startswith("a")
a2 = a.startswith("hello")
a3 = a.startswith('b')
print(a,a1,a2,a3,sep='\n')

hello
False
True
False

UTILITY METHOD

In [1]:
s = "Once upon a time"
s2 = s.replace('Once','twice')
print(s,s2)

Once upon a time twice upon a time

In [2]:
s3 = s.replace('e','i')
print(s3)

Onci upon a timi

In [ ]:
# replace for removing content
data = 'py#t#h#o#n'
cleaned_data = data.replace('#','') # just single quotetations
print(data,cleaned_data,sep='\n')

py#t#h#o#n
python

In [4]:
m = "Alpine mountain range"
print(m.find('mountain'))

7

In [6]:
m = "Alpine mountain range"
print(m.find('mountain'))
print(m.find('lion')) #out -1
print(m.find('pine')) #out -2
print(m.find('i'))
print(m.find('i',4))

7
-1
2
3
13

Split & Join

In [8]:
quote = '''life before death,courage before despar,journey before destination'''
words = quote.split()  # str--->list
print(quote)
print(words)
sentences = quote.split(',')
print(sentences)

life before death,courage before despar,journey before destination
['life', 'before', 'death,courage', 'before', 'despar,journey', 'before', 'destination']
['life before death', 'courage before despar', 'journey before destination']

In [9]:
sentences = quote.split(',')
print(sentences)

['life before death', 'courage before despar', 'journey before destination']

In [11]:
addr = ['Mbu','sree sainath nagar','Tirupati','AP','517102']
addr_str = ",".join(addr)
print(addr,addr_str,sep='\n')
addr2 = "_".join(addr)
addr3 = "\n".join(addr)
addr4 = "what".join(addr)
print(addr2,addr3,addr4)

['Mbu', 'sree sainath nagar', 'Tirupati', 'AP', '517102']
Mbu,sree sainath nagar,Tirupati,AP,517102
Mbu_sree sainath nagar_Tirupati_AP_517102 Mbu
sree sainath nagar
Tirupati
AP
517102 Mbuwhatsree sainath nagarwhatTirupatiwhatAPwhat517102

In [12]:
addr2 = "_".join(addr)
addr3 = "\n".join(addr)
addr4 = "what".join(addr)
print(addr2,addr3,addr4)

Mbu_sree sainath nagar_Tirupati_AP_517102 Mbu
sree sainath nagar
Tirupati
AP
517102 Mbuwhatsree sainath nagarwhatTirupatiwhatAPwhat517102

Functions & Modules

In [1]:
n = input('enter value')
if int(n)%2 == 0:
    print('Even')
else:
    print('odd')

Even

Syntax :    
def func_name([param1,param2,...]): 
statement1  
statement2  
.   
.   
.   
statementn
[return value]

In [2]:
def greeting():
    print("Happy")
    print("Diwali")
greeting()

Happy
Diwali

In [7]:
def total(a,b,c):
    ans=a+b+c
    print(f'total={ans}')
total(10,20,30)
total(1,15,13)

total=60
total=29

In [2]:
def msg ():
    print("Hello")
msg()
msg()
msg()

Hello
Hello
Hello

In [5]:
def mul(a,b):
    print(a*b)
mul(2,3)
mul(15,175)
mul(5,15)

6
2625
75

In [6]:
import math
def hyp(p,b):
    ans=math.sqrt(p**2+b**2)
    return ans
hyp(10,5)

11.180339887498949

In [10]:
def is_even(num):
    if num%2 ==0:
        return True
    else:
        return False
is_even(15)

False

In [11]:
x =int(input('enter even num'))
if is_even(x):
    print("Good Job")
else:
    print("You are stupid")

Good Job

Convention while creating function  
1.Don't take input inside function  
2.return the value from the function    
3.use parameter to pass input to function   
4.keep it small and simple